$white: #fff;
$black: rgb(74, 72, 82);
$blackShadow: rgba(74, 72, 82, 0.301);
$blackShadowFocus: rgba(74, 72, 82, 0.5);
$lightBlue: #1e90ff;
$darkBlue: #5352ed;
$orange: #ff7f50;
$green: #2ed573;
$yellow: #eccc68;
